<div class="contaienr">
  <h1>New game</h1>
  <ul class="list-inline">
    <% @letters.each do |letter| %>
      <li class="list-inline-item letters"><h2><%= letter.upcase %></h2></li>
    <% end %>
  </ul><br>


  <h3>What is the longest word you can find?</h3>
    <form class="form-inline" action="/score" method="get">
    <input type="text" class="form-control mb-2 mr-sm-2" id="input" name="word">
    <input name="grid" type="hidden" value= <%= @letters.join('')%> />
    <input type="submit" class="btn btn-primary mb-2" value="Play">
  </form>
</div>

