// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.letters{
  background-color: #3397DB;
  width: 100px;
  height: 100px;
  text-align: center;
  border: 2px solid black;
}